@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --color-green: #3A5A40;
    --color-dark-green: #344E41;
    --color-white: #FFF;
    --color-yellowish-white: #FFFEFC;
    --color-light-gray: #DAD7CD;
    --color-gray: #C2C2C2;
    --color-darker-gray: #A1A1A1;
    --color-dark-gray: #9F9F9F;
    --color-black: #000000;

    --text-xs: 1rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 2rem;
    --text-4xl: 2.25rem;
    --text-5xl: 2.5rem;
    --text-6xl: 3rem;
    --text-7xl: 3.75rem;
}
@layer base {
    body {
        font-family: 'Nunito', serif;
    }
}

@layer utilities {
    .font-inter {
        font-family: 'Inter', serif;
    }
}