@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 360px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1400px;

    --color-green: #3A5A40;
    --color-dark-green: #344E41;
    --color-white: #FFF;
    --color-yellowish-white: #FFFEFC;
    --color-light-gray: #DAD7CD;
    --color-gray: #C2C2C2;
    --color-dark-gray-1: #A1A1A1;
    --color-dark-gray-2: #9F9F9F;
    --color-dark-gray-3: #5B5B5B;
    --color-black: #000000;

    --text-xs: 16px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 32px;
    --text-4xl: 36px;
    --text-5xl: 40px;
    --text-6xl: 48px;
    --text-7xl: 60px;
}
@layer base {
    body {
        font-family: 'Nunito', serif;
    }
}

@layer utilities {
    .font-inter {
        font-family: 'Inter', serif;
    }
}